


<form [formGroup]="inputForm" (ngSubmit)="onSubmit()" >
  <label for="cars">Choose Type:</label>

  <select name="cars" id="cars" formControlName="type" class="form-control">
    <option value="textbox">TextBox</option>
    <option value="date">Date</option>
    <option value="dropdown">Dropdown</option>
    <option value="number">Number</option>
    <option value="checkbox">CheckBox</option>
    <option value="radio">RadioBox</option>
  </select>

  <label for="cars">number:</label>
  <input type="number" formControlName="number" (input)="addLabel($event)" class="form-control">

<div formArrayName="labelArray">
  <div *ngFor="let item of getLabelArray.controls ; let i = index" [formGroupName]="i">
    <label for="">Label{{i+1}}</label>
    <input formControlName="text" class="form-control">
  </div>
</div>



   <label for="cars">Label:</label>
  <input formControlName="label" class="form-control">






  <label for="cars">Required:</label>
  <input type="checkbox" formControlName="required">

  <br/>

  <button  class="btn btn-primary mt-3">Add Input</button>
</form>

<!-- {{this.inputForm.value | json}} -->




