
<div [formGroup]="form" class="mb-3"  >
  <label [attr.for]="question.key">{{question.label}}</label>

  <span [ngSwitch]="question.controlType">
    <input class="form-control" *ngSwitchCase="'textbox'" [formControlName]="question.key"
            [id]="question.key" [type]="question.type">

            <input class="form-control" *ngSwitchCase="'date'" [formControlName]="question.key"
            [id]="question.key" [type]="question.type">

            <input class="form-control" *ngSwitchCase="'number'" [formControlName]="question.key"
            [id]="question.key" [type]="question.type">

            <input  class="mx-3 "  *ngSwitchCase="'checkbox'" [formControlName]="question.key"
            [id]="question.key" [type]="question.type">

            <input  class="mx-3" *ngSwitchCase="'radio'" [formControlName]="question.key"
            [id]="question.key" [type]="question.type">

    <select class="form-control"[id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key">
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>

  </span>

  <div class="errorMessage" *ngIf="isInvalid">{{question.label}} is required</div>
</div>
