<div [formGroup]="form" class="mb-3">
  <label [attr.for]="question.key" *ngIf="question.type!='radio'">{{ question.label }}</label>
  <label class="" [attr.for]="question.key" *ngIf="question.type=='radio'" >
    {{ question.label }}: </label>
  <br>

  <span [ngSwitch]="question.controlType">
    <input
      class="form-control"
      *ngSwitchCase="'textbox'"
      [formControlName]="question.key"
      [id]="question.key"
      [type]="question.type"
    />

    <input
      class="form-control"
      *ngSwitchCase="'date'"
      [formControlName]="question.key"
      [id]="question.key"
      [type]="question.type"
    />

    <input
      class="form-control"
      *ngSwitchCase="'number'"
      [formControlName]="question.key"
      [id]="question.key"
      [type]="question.type"
    />

    <input
      *ngSwitchCase="'checkbox'"
      [formControlName]="question.key"
      [checked]="question.value"
      [id]="question.key"
      (change)="toggleCheckboxValue(question.key, $event)"
      [type]="'checkbox'"
    />


      <!-- <input
      *ngSwitchCase="'radio'"
      [formControlName]="question.key"
      [value]="'sss'"
      [id]="question.key"
      [name]="question.key"
      (change)="onChange(question.key, $event)"
      [type]="'radio'"
    /> -->

<span   *ngSwitchCase="'radio'" class="mt-3">
  <label *ngFor="let opt of question.options"  >
     {{opt.key}}
    <input
      type="radio"
      [name]="question.key"
      [formControlName]="question.key"
      [value]="opt.value">
  </label>
</span>


    <select
      class="form-control"
      [id]="question.key"
      *ngSwitchCase="'dropdown'"
      [formControlName]="question.key"
    >
      <option *ngFor="let opt of question.options" [value]="opt.key">
        {{ opt.value }}
      </option>
    </select>
  </span>

  <div class="errorMessage" *ngIf="isInvalid">
    {{ question.label }} is required
  </div>
</div>
